<h2>Create a Song</h2>
  <%= form_for @song do |f| %>

    <% if @song.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @song.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @song.errors[:title].empty? %>
      <div class="field">
    <% else %>
      <div class="field_with_errors">
    <% end %>
      <label>Title</label>     
      <%= f.text_field :title %>
    </div>

    <% if @song.errors[:released].empty? %>
      <div class="field">
    <% else %>
      <div class="field_with_errors">
    <% end %>      
      <label>Released?</label>      
      <%= f.check_box :released %>
    </div>

    <% if @song.errors[:release_year].empty? %>
      <div class="field">
    <% else %>
      <div class="field_with_errors">
    <% end %>
      <label>Release Year</label>      
      <%= f.text_field :release_year %>
    </div>

    <% if @song.errors[:artist_name].empty? %>
      <div class="field">
    <% else %>
      <div class="field_with_errors">
    <% end %>

      <label>Artist Name</label>     
      <%= f.text_field :artist_name %>
    </div>

    <div class="field">
    <label>Released?</label>      
    <%= f.text_field :genre %>
  </div>

    <%= f.submit %>
  <% end %>